body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:color-mix(in srgb, color percentage, color percentage);
    background-color:blanchedalmond
}

article{
    background-color: cadetblue;
    padding: 40px;
    margin: 40px;
}